package web

import . "buckingham_bakery/internal/dto"
import . "buckingham_bakery/cmd/web/templates/components"

templ Orders(orders []FoodOrder) {
	@Base() {
		<div>
			for _, order := range orders {
				@Order(order)
			}
		</div>
	}
}
