package web

import . "buckingham_bakery/internal/dto"
import . "buckingham_bakery/cmd/web/templates/components"

templ Orders(orders []FoodOrder) {
	@Base() {
		<div class="flex flex-wrap gap-4 columns-3 h-full">
			for _, order := range orders {
				@Order(order)
			}
		</div>
	}
}
