package web

templ NavBar() {
	<div class="navbar bg-base-100 shadow-sm">
		<div class="navbar-start">
			@DropDown()
		</div>
		<div class="navbar-center">
			<a class="btn btn-ghost text-xl">Buckingham Bakery</a>
		</div>
		<div class="navbar-end">
			<div id="cart-dropdown" class="dropdown dropdown-end">
				@Cart()
			</div>
		</div>
	</div>
}
