package web

import "buckingham_bakery/internal/dto"

templ SideCart() {
	<div class="drawer-side">
		<label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
		<ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
			for _, item := range dto.CondensedOrders.Orders {
				@SideOrder(&item)
			}
		</ul>
	</div>
}
