package web

import "buckingham_bakery/internal/dto"

templ SideCartOrderList() {
	// TODO: Not populated since need to return a new side cart html!!
	for _, item := range dto.CondensedOrders.Orders {
		@SideOrder(&item)
	}
}
