@import "tailwindcss";
@plugin "./daisyui.js" {
    themes: all;
}

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */
@plugin "./daisyui-theme.js" {
    /* custom theme here */
}

.show-side-cart {
    z-index: 99 !important;
    opacity: 1 !important;
    visibility: visible !important;
    grid-column-start: 2 !important;
    justify-items: end !important;
    pointer-events: auto !important;
}
